@import '../../main.scss';

.favoritesContainer {
    width:100%;
    @include content;
    @include layout(column, flex-start, center);
    font-family: 'Raleway';
    padding-bottom: 5%;
    .firstContent {
        width:100%;
        @include layout(column, flex-start, center);
        padding-bottom: 5%;
        h1 {
            padding:0% 0% 5% 0%;
            font-size: 1.5rem;
            font-weight: bold;
            color:white;
            text-align: center;
        }
        .cards {
            width:80%;
            .column {
                float: left;
                width: 25%;
                padding: 3% 5%;
            }
            .content {
                @include layout(column, center,center);
                padding:10%;
                border-radius: 15px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                background-color: white !important;
                img {
                    width:80%;
                }
                a{
                    outline: none;
                    border: none;
                    position:none;
                    text-decoration: none;
                    color:black;
                    font-size: 0.9rem;
                    font-weight: bold;
                    padding-top:5%;
                    color:black;
                    text-align: center;
                }
                button {
                    @include layout(row, space-evenly,center);
                    width:100%;
                    border-radius: 15px;
                    padding:1rem;
                    text-align: center;
                    outline: none;
                    border: none;
                    position:none;
                    text-decoration: none;
                    font-size: 1rem;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    background-color:#242323;
                    color:white;

                }
            }
        }
    }
}
