@import '../../main.scss';

.pokemonContainer {
    width:100%;
    @include content;
    @include layout(column, flex-start, center);
    padding: 2% 0%;
    font-family: 'Raleway';
    .firstContainer {
        width:100%;
        @include content;
        @include layout(column, flex-start, center);
        h3 {
            color:white !important;
            font-size:1rem;
        }
        
        h1 {
            font-size: 1.7rem;
            font-weight: bold;
            text-align: center;
            font-weight: bold;
            color:#EC5151;
        }
        p{
            font-size: 1.1rem;
            font-weight: bold;
            color:#EC5151;
        }
        .info {
            width: 30%;
            @include layout(column, center, center);
            .firstColumn {
                @include layout(column, center, center);
                img {
                    width: 100%;
                }
            }
            .secondColumn {
                padding-top:5%;
                width: 100%;
                @include layout(column, center, flex-start);
                .moves {
                    @include layout(column, center, flex-start);
                    padding: 5% 0%;
                }
                .stats {
                    width:100%;
                    padding-top: 5%;
                    @include layout(row, center, flex-start);
                    .stat{
                        width:100%;
                        padding-right: 2%;
                        h2 {
                            font-size:1.1rem;
                            font-weight: bold;
                            color:white !important;
                        }
                    }
                }
            }
        }
    }
    .secondContainer {
        width:50%;
        @include layout(row, center, flex-start);
        padding: 2% 0%;
        button {
            border-radius: 15px;
            padding:0.8rem;
            text-align: center;
            outline: none;
            border: none;
            position:none;
            border: none;
            text-decoration: none;
            font-size: 1rem;
            background-color: white;
            color:black;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }
    .thirdContainer {
        width:30%;
        padding: 5% 0%;
        h2 {
            color:white;
            font-weight: bold;
            padding:5% 0%;
        }
        label {
            color:white;
        }
        button {
            @include layout(row, center, center);
            border-radius: 15px;
            padding:1.2rem;
            text-align: center;
            outline: none;
            border: none;
            position:none;
            border: none;
            text-decoration: none;
            font-size: 1rem;
            background-color: white;
            font-weight: bold;
            color:black;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            
        }
        span {
            text-align: center;
        }
    }
    .comments {
        @include layout(column, center,flex-start);
        padding:2% 0%;
        width:30%;
        overflow-wrap: break-word;
        .comment {
            @include layout(row, space-between,flex-start);
            width:100%;
            padding:2%;
            margin: 2% 0%;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            background-color: white !important;
            .info {
                width:70%;
                h3 {
                    font-weight: bold;
                }
            }
           
        }
       
    }
    :global {
        .ant-input {
            border-radius: 15px;
            padding:0.5rem;
            border: none;
        }
    }

}